.customButton {
  padding: 8px 20px;
  outline: none;
  border-radius: 20px;
  font-size: 18px;
  height: fit-content !important;

  &.v1 {
    background-color: $color_o5;
    color: white;
    border: none;
    box-shadow: 2px 2px 0 0 $color_o4;

    &:hover {
      background-color: $color_o4;
      box-shadow: 4px 4px 0 0 $color_o5;
      transform: translate(-3px, -3px) scale(1.02);
    }
  }

  &.v2 {
    background-color: $color_o4;
    color: white;
    border: none;
    box-shadow: 2px 2px 0 0 $color_o5;

    &:hover {
      background-color: $color_o5;

      box-shadow: 4px 4px 0 0 $color_o4;
      transform: translate(-3px, -3px) scale(1.02);
    }
  }
}
