$color_o1: #fff4dc;
$color_o2: #fee9b6;
// $color_o3: #fce3b9;
$color_o3: #fbe5b5;
$color_o4: #fb9329;
$color_o5: #fd4a02;

$color_g1: #d4fdd4;
$color_g2: #67a336;
$color_g3: #007f5b;
$color_g4: #006a4a;

$color_p1: #fff5e1;
$color_p2: #fcf0d9;
$color_p3: #febf90;
$color_p4: #ffb07e;
